import * as React from 'react';

export interface {{toProps name}} {
}

export interface {{toState name}} {
}

export class {{camelCase name}} extends React.Component<{{toProps name}}, {{toState name}}> {
  public render() {
    return (
      <p>{{camelCase name}} works</p>
    );
  }
}
